.btn {
  text-shadow: none;
}

body {
  background-color: #1f2f42;
  background: url('assets/img/pattern.png') repeat;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

h1 {
  color: #aeea00;
  font-family: 'Bungee', cursive;
}

.carousel {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.50);
}

.carousel button {
  opacity: 0;
}

.carousel:hover button {
  opacity: 0.5;
}

.carousel:hover button:focus, .carousel:hover button:hover {
  opacity: 0.9;
}

a.btn small {
  display: block;
  font-size: 0.75rem;
}